@using Newtonsoft.Json;
@using VWOSdk;

<html>
  <head>
    <title>VWO server-side Experimentation</title>
  </head>
  <body>
    <a href="/" style="position:fixed; top:10px; left: 20px;">HOME</a>
    <div>
        <h2 class="color-blue">VWO Dotnet SDK Example</h2>
        <div>
            <h3>Hey there, what would you like to experiment?</h3>
            <div>
                <ul>
                    <li><a href="/Home/Ab">A/B Test</a></li>
                    <li><a href="/Home/FeatureRollout">Feature Rollout</a></li>
                    <li><a href="/Home/FeatureTest">Feature Test</a></li>
                    <li><a href="/Home/Push">Push Api</a></li>
                </ul>
            </div>
        </div>
    </div>
  </body>
</html>